@keyframes test {
    0% {
        background-position-x:
            var(--base-background-pos-x),
            var(--base-background-pos-x),
            var(--base-background-pos-x),
            var(--base-background-pos-x),
            var(--base-background-pos-x),
            var(--base-background-pos-x),
            var(--base-background-pos-x),
            var(--base-background-pos-x);
        background-position-y:
            bottom var(--base-background-pos-y),
            bottom var(--base-background-pos-y),
            bottom var(--base-background-pos-y),
            bottom var(--base-background-pos-y),
            bottom var(--base-background-pos-y),
            bottom var(--base-background-pos-y),
            bottom var(--base-background-pos-y),
            bottom var(--base-background-pos-y);
    }

    100% {
        background-position-x:
            calc(var(--base-background-pos-x) + 100vw),
            calc(var(--base-background-pos-x) + (100vw * (1/2))),
            calc(var(--base-background-pos-x) + (100vw * (1/2))),
            calc(var(--base-background-pos-x) + (100vw * (1/3))),
            calc(var(--base-background-pos-x) + 100vw),
            calc(var(--base-background-pos-x) + (100vw * (1/4))),
            calc(var(--base-background-pos-x) + (100vw * (1/4))),
            calc(var(--base-background-pos-x) + (100vw * (1/5)));
        background-position-y:
            bottom var(--base-background-pos-y),
            bottom var(--base-background-pos-y),
            bottom var(--base-background-pos-y),
            bottom var(--base-background-pos-y),
            bottom var(--base-background-pos-y),
            bottom var(--base-background-pos-y),
            bottom var(--base-background-pos-y),
            bottom var(--base-background-pos-y);
    }
}

.hills-background {
    --base-background-pos-y: calc(min(-50px, -5vw) - 40px);
    --background-pos-offset-y: 20px;
    --base-background-pos-x: 0px;
    --background-pos-offset-x: 200px;

    min-height: 100%;
    overflow: hidden;
    background-repeat: repeat-x;
    background-color: #D3D3D3;
    background-size: cover;
    z-index: -1;
    width: 100%;
    overflow-y: hidden;
    height: 100%;
    animation-name: test;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-position-x:
        0px,
        0px,
        0px,
        0px,
        0px,
        0px,
        0px,
        0px;
    background-position-y:
        bottom calc(min(-50px, -5vw) + -100px),
        bottom calc(min(-50px, -5vw) + -100px),
        bottom calc(min(-50px, -5vw) + -100px),
        bottom calc(min(-50px, -5vw) + -100px),
        bottom calc(min(-50px, -5vw) + -100px),
        bottom calc(min(-50px, -5vw) + -100px),
        bottom calc(min(-50px, -5vw) + -100px),
        bottom calc(min(-50px, -5vw) + -100px);
    background-image:
        url('../../Images/hills/hills1.svg'),
        url('../../Images/hills/hills2.svg'),
        url('../../Images/hills/lupin.svg'),
        url('../../Images/hills/hills3.svg'),
        url('../../Images/hills/cloudsFront.svg'),
        url('../../Images/hills/hills4Top.svg'),
        url('../../Images/hills/hills4Bottom.svg'),
        url('../../Images/hills/cloudsBack.svg');
    opacity: 0;
    -webkit-transition: opacity 1.5s linear;
    -moz-transition: opacity 1.5s linear;
    -o-transition: opacity 1.5s linear;
    -ms-transition: opacity 1.5s linear;
    transition: opacity 1.5s linear;
}